/* ===========================================
FOOTER
=========================================== */

.footerContainer {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    padding: 1%;
    p, a {
        text-align: center;
        color: $primary-color;
        letter-spacing: 1px;
    }
}