/* ===========================================
GENERAL STYLINGS
=========================================== */

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
    font-family: $secondary-font;
    background-color: $primary-color;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


h1, h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    @include clickableStyle;
}

.chosen {
    background-color: #f07a75;
    box-shadow: inset 0px 0px 5px 2px #ef5858;
    color: whitesmoke;
}


.error {
    text-align: center;
    margin: 2%;
    color: red;
    display: none;
}

.unhidden {
    display: block;
}

// * {
//     outline: 1px solid red;
// }