/* ===========================================
GENERAL STYLINGS
=========================================== */

html {
    font-size: 125%;
}

body {
    font-family: $secondary-font;
    margin: 0;
    padding: 0;
    background-color: $primary-color;
}

html, body {
    height: 100%;
    width: 100%;
}

.appContainer {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;;
}

h1, h3 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    border: none;
    outline: 1px solid rgba(0 ,0, 0, 0.3);
    border-radius: 10px;
    padding: 10px;
    background-color: $box-color;
    box-shadow: inset 0px 0px 5px 2px $box-shadow-color;
}

.chosen {
    background-color: #f07a75;
    box-shadow: inset 0px 0px 5px 2px #ef5858;
    color: whitesmoke;
}