/* ===========================================
GENERAL STYLINGS
=========================================== */

html {
    font-size: 125%;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

img {
    display: block;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    text-decoration: none;
}

button {
    border: none;
    padding: 10px;
}

.chosen {
    background-color: rgba(115, 235, 79, 0.5);
}

.hidden {
    opacity: 0;
    height: 0;
    visibility: hidden;
}
    

/* ===========================================
HEADER
=========================================== */

/* ===========================================
MENU
=========================================== */


/* ===========================================
GALLERY
=========================================== */

.galleryList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // justify-content: space-between;
    // align-items: center;
    li {
        width: calc(100% / 3);
        padding: 0;
        img {
            height: auto;
        }
    }
}

// * {
//     border: 1px solid red;
// }




        

