/* ===========================================
MENU
=========================================== */

.movieMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        text-align: center;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }
}

.genreContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .genreList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0;
        li {
            margin: 5px;
        }
    }
}

.yearContainer {
    width: 50%;
    max-width: 360px;
    margin: 3%;
    text-align: center;
}

.yearList {
    position: relative;
    border-radius: 10px;
    transition: max-height 0.3s ease-out;
    margin: 5% 0;
    
    .selectedYear,
    .yearItem {
        width: 100%;
        @include clickableStyle;
        &.chosen {
            @include chosenStyle;
        }
    }
    .yearOptions {
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 10;
        opacity: 0;
        transition: all 0.5s;
        pointer-events: none;
        &.open  {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
        }
    }
}

.advancedSettingsContainer {
    width: 100%;
    .advancedSettings {
        margin: 3% 0;
        width: 100%;
        background: rgba($search-background-color, 0.2);
        border-radius: 8px;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        max-height: 0;
    }
}

.slideContainer {
    width: 50%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
    label {
        text-align: center;
    }
    .slider {
        border: 1px solid $secondary-color;
        background: $primary-color;
        width: 100%;
        -webkit-appearance: none; 
        appearance: none;
        border-radius: 10px;  
        // For Firefox
        &::-moz-range-thumb {
            @include sliderStyle;
        }
        // For webkit
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            margin: -5px 0;
            @include sliderStyle;
        }
    }
}

.searchButtonContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    .searchButton {
        
        width: 50%;
        max-width: 360px;
    }
}