/* ===========================================
MENU
=========================================== */

.movieMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    .genreBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3 {
        color: $secondary-color;
        letter-spacing: 2px;
        font-size: 1.5rem;
    }
}
.genreList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;

    li {
        margin: 5px;
    }
}

.searchBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.yearBox {
    width: 30%;
    margin: 3%;
    text-align: center;
}

.yearList {
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    max-height: 0;
    button {
        width: 100%;
    }
}

