html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===========================================
GENERAL STYLINGS
=========================================== */
html {
  font-size: 125%;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7d6d6;
}

html, body {
  height: 100%;
  width: 100%;
}

.appContainer {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

h1, h3 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(235, 158, 108, 0.27);
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(231, 125, 47, 0.78);
          box-shadow: inset 0px 0px 5px 2px rgba(231, 125, 47, 0.78);
}

.chosen {
  background-color: rgba(253, 29, 29, 0.5);
  -webkit-box-shadow: inset 0px 0px 5px 2px #ef5858;
          box-shadow: inset 0px 0px 5px 2px #ef5858;
  color: whitesmoke;
}

/* ===========================================
HEADER
=========================================== */
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .wrapper h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  margin: 5%;
}

/* ===========================================
MENU
=========================================== */
.movieMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.movieMenu .genreBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.movieMenu h3 {
  color: #c1082bd9;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.genreList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}
.genreList li {
  margin: 5px;
}

.searchBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.yearBox {
  width: 30%;
  margin: 3%;
  text-align: center;
}

.yearList {
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}
.yearList button {
  width: 100%;
}

/* ===========================================
GALLERY
============================================ */
.movieGallery {
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 0;
}
.movieGallery .movie {
  position: relative;
}
.movieGallery .movie:hover {
  cursor: pointer;
}
.movieGallery .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.movieGallery .summary::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.movieGallery .summary:hover {
  opacity: 1;
}
.movieGallery .summary .moreInfo {
  background-color: whitesmoke;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.movieGallery .summary p {
  color: rgba(255, 255, 255, 0.7);
  padding: 10%;
  max-height: 100%;
}
.movieGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.movieGallery li {
  max-width: 30%;
}
.movieGallery li img {
  -webkit-box-shadow: 0px 0px 3px 3px #000;
          box-shadow: 0px 0px 3px 3px #000;
}
.movieGallery li .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5% 0;
}

.unhidden {
  opacity: 1;
}

/* ===========================================
FOOTER
=========================================== */
.footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #c1082bd9;
  padding: 1%;
}
.footerContainer p, .footerContainer a {
  text-align: center;
  color: #f7d6d6;
  letter-spacing: 1px;
}