html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===========================================
GENERAL STYLINGS
=========================================== */
html {
  font-size: 125%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f7d6d6;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1, h3 {
  font-family: "Poppins", sans-serif;
  color: #c1082bd9;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  background-color: #f0c7b7;
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(231, 125, 47, 0.78);
          box-shadow: inset 0px 0px 5px 2px rgba(231, 125, 47, 0.78);
}

.chosen {
  background-color: #f07a75;
  -webkit-box-shadow: inset 0px 0px 5px 2px #ef5858;
          box-shadow: inset 0px 0px 5px 2px #ef5858;
  color: whitesmoke;
}

.error {
  text-align: center;
  margin: 2%;
  color: red;
  display: none;
}

.unhidden {
  display: block;
}

.hidden {
  display: none;
}

/* ===========================================
HEADER
=========================================== */
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .wrapper h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 400;
  margin: 5% 0 0;
  text-shadow: 2px 2px 2px #000;
}
header .wrapper h2 {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-size: 2rem;
  font-style: italic;
  color: #ff0052;
  text-align: center;
  letter-spacing: 1px;
}

/* ===========================================
MENU
=========================================== */
.movieMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.movieMenu h3 {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.genreContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.genreContainer .genreList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}
.genreContainer .genreList li {
  margin: 5px;
}

.yearContainer {
  width: 50%;
  max-width: 360px;
  margin: 3%;
  text-align: center;
}

.yearList {
  position: relative;
  border-radius: 10px;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  margin: 5% 0;
}
.yearList .selectedYear,
.yearList .yearItem {
  width: 100%;
  cursor: pointer;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  background-color: #f0c7b7;
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(231, 125, 47, 0.78);
          box-shadow: inset 0px 0px 5px 2px rgba(231, 125, 47, 0.78);
}
.yearList .selectedYear.chosen,
.yearList .yearItem.chosen {
  background-color: #f07a75;
  -webkit-box-shadow: inset 0px 0px 5px 2px #ef5858;
          box-shadow: inset 0px 0px 5px 2px #ef5858;
  color: whitesmoke;
}
.yearList .yearOptions {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  pointer-events: none;
}
.yearList .yearOptions.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.advancedSettingsContainer {
  width: 100%;
}
.advancedSettingsContainer .advancedSettings {
  margin: 3% 0;
  width: 100%;
  background: rgba(255, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  max-height: 0;
}

.slideContainer {
  width: 50%;
  margin: 3% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slideContainer label {
  text-align: center;
}
.slideContainer .slider {
  border: 1px solid #c1082bd9;
  background: #f7d6d6;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 10px;
}
.slideContainer .slider::-moz-range-thumb {
  border: 1px solid #000;
  height: 30px;
  width: 15px;
  cursor: pointer;
  border-radius: 3px;
  background: rgba(193, 8, 43, 0.7);
  box-shadow: 1px 1px 1px #000;
}
.slideContainer .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin: -5px 0;
  border: 1px solid #000;
  height: 30px;
  width: 15px;
  cursor: pointer;
  border-radius: 3px;
  background: rgba(193, 8, 43, 0.7);
  -webkit-box-shadow: 1px 1px 1px #000;
          box-shadow: 1px 1px 1px #000;
}

.searchButtonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.searchButtonContainer .searchButton {
  width: 50%;
  max-width: 360px;
}

/* ===========================================
GALLERY
============================================ */
.movieGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galleryList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px 2%;
  margin: 3% 0 15%;
}
.galleryList .title {
  text-align: center;
  padding: 5%;
}

.movieCard {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}
.movieCard .movie {
  position: relative;
}
.movieCard .movie:hover {
  cursor: pointer;
}
.movieCard .movie .moviePoster {
  -webkit-box-shadow: 0px 0px 3px 3px #000;
          box-shadow: 0px 0px 3px 3px #000;
  max-width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 10%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.summary::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.summary:hover {
  opacity: 1;
}
.summary p {
  color: whitesmoke;
}

.ratingContainer .rating {
  display: inline-block;
  border: 2px red solid;
  border-radius: 50%;
  padding: 4px;
}
.ratingContainer .rating.good {
  border-color: yellow;
}
.ratingContainer .rating.great {
  border-color: green;
}

.galleryButtonContainer {
  display: none;
  margin: 5% auto;
  color: #c1082bd9;
}
.galleryButtonContainer a {
  cursor: pointer;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
  background-color: #f0c7b7;
  -webkit-box-shadow: inset 0px 0px 5px 2px rgba(231, 125, 47, 0.78);
          box-shadow: inset 0px 0px 5px 2px rgba(231, 125, 47, 0.78);
  margin: 5px;
  color: #000;
}
.galleryButtonContainer a i {
  margin-left: 5px;
}
.galleryButtonContainer.unhidden {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ===========================================
FOOTER
=========================================== */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer .footerContainer {
  background-color: #c1082bd9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1%;
}
footer .footerContainer p, footer .footerContainer a {
  text-align: center;
  color: #f7d6d6;
  letter-spacing: 1px;
}
footer.relativePosition {
  position: relative;
}
footer.relativePosition {
  position: relative;
}

/* Portrait tablet and small desktops */
@media (max-width: 850px) {
  .movieGallery .galleryList {
    grid-template-columns: 1fr 1fr;
  }
}
/* Landscape phones and down */
@media (max-width: 550px) {
  body {
    font-size: 0.9rem;
  }

  .movieGallery .galleryList {
    grid-template-columns: 1fr;
  }

  header .wrapper h1 {
    font-size: 3rem;
  }
  header .wrapper h2 {
    font-size: 1.5rem;
    letter-spacing: 2px;
  }

  .movieMenu h3 {
    font-size: 1.1rem;
  }

  .galleryButtonContainer.unhidden {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}